[buildout]
extends = 
    eea.cfg
    https://raw.github.com/eea/eea.plonebuildout.core/master/buildout-configs/kgs/latest_kgs/versions.cfg
allow-picked-versions= true
effective-user = iulian

auto-checkout =
  eea.climateadapt

parts +=
    templer
    gdal-compile
    gdal-egg

[gdal-compile]
recipe = zc.recipe.cmmi
url = ${versions:GDAL_SRC}
extra_options = --with-python

[gdal-egg]
recipe = zc.recipe.egg:custom
egg = GDAL
include-dirs = ${gdal-compile:location}/include
library-dirs = ${gdal-compile:location}/lib

[configuration]
eggs +=
    Products.PloneHotfix20170117
    plone.directives.form
    plone.directives.dexterity
    plone.app.contenttypes
    plone.app.redirector
    plone.app.referenceablebehavior
    plone.app.iterate
    plone.app.ldap
    plone.app.layout
    plone.app.contentmenu
    collective.cover
    collective.excelexport
    eea.cache
    eea.rdfmarshaller
    collective.geolocationbehavior
    eea.climateadapt
    ${gdal-egg:egg}

zcml +=
    eea.climateadapt
    eea.climateadapt.browser-overrides
    collective.cover
    plone.app.contenttypes
    plone.app.redirector
    plone.app.referenceablebehavior
    plone.app.iterate
    plone.app.ldap
    plone.app.layout
    collective.excelexport
    eea.cache
    eea.cache-overrides
    eea.rdfmarshaller
    collective.geolocationbehavior
    plone.app.contentmenu

dbclient-environment-vars +=
    LD_LIBRARY_PATH ${gdal-egg:library-dirs}

[templer]
recipe = zc.recipe.egg
eggs =
   PasteScript
   templer.core
   templer.zope
   templer.plone
   templer.dexterity
   ${configuration:eggs}

[sources]
# eea.climateadapt = git git@github.com:eea/eea.climateadapt.plone.git pushurl=https://github.com/eea/eea.climateadapt.plone.git
# eea.climateadapt = git git@github.com:eea/eea.climateadapt.plone.git
eea.climateadapt = git https://github.com/eea/eea.climateadapt.plone.git pushurl=git git@github.com:eea/eea.climateadapt.plone.git
# collective.cover = git https://github.com/collective/collective.cover.git branch=plone_app_widgets_compatibility
# collective.easyform = git https://github.com/abstract-open-solutions/collective.easyform.git branch=eea-disable-caching-for-form-view
# collective.sweeteditor = git https://github.com/Petchesi-Iulian/collective.sweeteditor.git
# plone.app.widgets = git https://github.com/tiberiuichim/plone.app.widgets.git branch=1.x
# mockup = git https://github.com/plone/mockup.git
# eea.rdfmarshaller = git https://github.com/Petchesi-Iulian/eea.rdfmarshaller.git branch=dexterity_compat

[versions]
python-dateutil = 1.5eea
plone.recipe.zope2instance = 4.2.13.eea
zc.buildout = 2.2.1
python-dateutil = 1.5eea
Products.PloneHotfix20170117 = 1.0

# custom eea.climateadapt versions

# last plone 4 compatible version
plone.app.contenttypes = 1.1b5
plone.app.dexterity = 2.0.13
plone.dexterity = 2.3.1

# collective.cover compatibility
# collective.js.bootstrap = 2.3.1.1
collective.js.bootstrap = 3.3.5
#plone.app.blocks = 2.0.0
plone.app.blocks = 2.2.1
plone.app.tiles = 1.0.1
plone.tiles = 1.4.0
plone.app.event = 1.2.7
plone.event = 1.1

# for testing compatibility with newer versions of jQuery
# plone.app.jquery = 1.7.2

# remove unassociated template warnings
grokcore.view = 2.9
plone.app.jquery = 1.9.1.3

# collective
collective.easyform = 1.0a3
collective.dexteritytextindexer = 2.0.1
zope.sqlalchemy = 0.7.6
iw.debug = 0.3
pycountry = 1.17
z3c.jbot = 0.7.2
collective.js.galleria = 1.2.5
plone.formwidget.querystring = 1.1.5
SQLAlchemy = 1.0.9
plone.app.drafts = 1.0b3
plone.formwidget.recurrence = 2.0.1
icalendar = 3.9.1
collective.elephantvocabulary = 0.2.5
Products.DateRecurringIndex = 2.1
# pin eea.daviz since v10 atm is broken
eea.daviz = 9.9

plone.app.iterate = 3.1.4

# compilation problem on ubuntu
ipython = 3.2.1

tokenlib = 0.3.1
eea.rdfmarshaller = 9.1.dev1
eea.geotags = 7.7
ipython = 3.2.1

# GDAL = 1.10.0
GDAL_SRC = http://download.osgeo.org/gdal/2.1.1/gdal-2.1.1.tar.gz

# custom eea.climateadapt versions
plone.app.widgets = 1.10.dev1
collective.cover = 1.2b2.dev2
collective.sweeteditor = 0.3.dev0
collective.excelexport = 1.3.dev0
plone.app.querystring = 1.3.15
plone.app.layout = 2.3.14

collective.geolocationbehavior = 1.4
# Required by:
# collective.geolocationbehavior==1.4
plone.formwidget.geolocation = 1.4
plone.app.contentmenu = 2.0.12
GDAL_SRC = http://download.osgeo.org/gdal/2.1.1/gdal-2.1.1.tar.gz
