[buildout]
extends = eea.cfg

index = https://pypi.python.org/simple

auto-checkout =
  eea.climateadapt
  eea.glossary
  eea.notifications
  eea.rabbitmq.plone

always-checkout = true
allow-picked-versions= true

[configuration]
shared-blob = on

# eea.climateadapt.plone v5.11

eggs +=
    BeautifulSoup
    Products.PloneHotfix20170117
    SQLAlchemy
    collective.cover
    collective.easyform
    collective.excelexport
    collective.geolocationbehavior
    collective.js.datatables
    collective.sweeteditor
    eea.cache
    eea.climateadapt
    eea.glossary
    eea.notifications
    eea.pdf
    eea.rdfmarshaller
    plone.app.async
    plone.app.contenttypes
    plone.app.imagecropping
    plone.app.ldap
    plone.app.redirector
    plone.app.referenceablebehavior
    plone.formwidget.recaptcha
    tlspu.cookiepolicy
    zope.sqlalchemy

zcml +=
    collective.cover
    collective.excelexport
    collective.geolocationbehavior
    collective.js.datatables
    collective.sweeteditor
    eea.cache
    eea.cache-overrides
    eea.climateadapt
    eea.climateadapt.browser-overrides
    eea.glossary
    eea.notifications
    eea.pdf
    eea.rdfmarshaller
    plone.app.contenttypes
    plone.app.iterate
    plone.app.ldap
    plone.app.redirector
    plone.app.referenceablebehavior

[sources]
# eea.climateadapt = git https://github.com/eea/eea.climateadapt.plone.git pushurl=git@github.com:eea/eea.climateadapt.plone.git
eea.climateadapt = git https://github.com/eea/eea.climateadapt.plone.git
eea.glossary = git https://github.com/eea/eea.glossary.git branch=develop
eea.rabbitmq.plone = git https://github.com/eea/eea.rabbitmq.plone.git
eea.notifications = git https://github.com/eea/eea.notifications.git

[versions]
# hotfix release for eea.depiction, solves pdf generation
eea.depiction = 7.1

python-dateutil = 1.5eea
plone.recipe.zope2instance = 4.2.13.eea
Products.PloneHotfix20170117 = 1.0

# last plone 4 compatible version
plone.app.contenttypes = 1.1b5
plone.app.dexterity = 2.0.13
plone.dexterity = 2.3.1

# collective.cover compatibility
# collective.js.bootstrap = 2.3.1.1
collective.js.bootstrap = 3.3.5
#plone.app.blocks = 2.0.0
plone.app.blocks = 2.2.1
plone.app.tiles = 1.0.1
plone.tiles = 1.4.0
plone.app.event = 1.2.7
plone.event = 1.1

# for testing compatibility with newer versions of jQuery
# plone.app.jquery = 1.7.2

# remove unassociated template warnings
grokcore.view = 2.9
plone.app.jquery = 1.9.1.3

# collective
collective.easyform = 1.0a3.eea
collective.dexteritytextindexer = 2.0.1
zope.sqlalchemy = 0.7.6
iw.debug = 0.3
pycountry = 1.17
z3c.jbot = 0.7.2
collective.js.galleria = 1.2.5
plone.formwidget.querystring = 1.1.5
SQLAlchemy = 1.0.9
plone.app.drafts = 1.0b3
plone.formwidget.recurrence = 2.0.1
icalendar = 3.9.1
collective.elephantvocabulary = 0.2.5
Products.DateRecurringIndex = 2.1
# pin eea.daviz since v10 atm is broken
# eea.daviz = 9.9

plone.app.iterate = 3.1.4

# compilation problem on ubuntu
ipython = 3.2.1

tokenlib = 0.3.1

# custom eea.climateadapt versions
plone.app.widgets = 1.10.dev2
collective.cover = 1.2b2.dev2
collective.sweeteditor = 0.3.dev1
collective.excelexport = 1.8.dev0
plone.app.querystring = 1.3.15
plone.app.layout = 2.3.14

collective.geolocationbehavior = 1.4
# Required by:
# collective.geolocationbehavior==1.4
plone.formwidget.geolocation = 1.4
plone.app.contentmenu = 2.0.12

plone.formwidget.recaptcha = 2.0a2
# Required by:
# plone.formwidget.recaptcha==2.0a2
norecaptcha = 0.3.0
plone.app.imagecropping = 1.3

# Required by:
# pdbpp==0.8.3
wmctrl = 0.3

eea.faceted.inheritance = 5.1
eea.facetednavigation = 9.16
eea.faceted.vocabularies = 6.3
eea.rabbitmq.client = 1.7
eea.relations = 9.9
