version: "2"

services:
  plone:
    image: tiberiuichim/cca-backend:latest
    ports:
      - "8080"
    env_file:
      - "./development.env"

  db:
    image: eeacms/postgres:10.23-4.2
    volumes:
      - ./data/pg-data:/var/lib/postgresql/data
      - ./data/data-dump:/postgresql.backup
      - ./data/archive:/var/lib/postgresql/archive
    env_file:
      - "./development.env"

  memcached:
    image: memcached:1.6.20-alpine
    environment:
      TZ: Europe/Copenhagen
    mem_reservation: 1073741824
    command:
      - -m
      - "1024"
      - -I
      - 50m
